@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

html {
  width: 100%;
  text-align: center;
}

* {
  /*border: 1px solid lightgray;*/
  margin: 0 auto;
}

body {
  background-color: #black;
  font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;
}

#outer-container {
  border: 1px solid lightgray;
  width: 90%;
}

main {
  border: 1px solid lightgray;

  width:90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*#### hiding images ####*/

/*#img_1 {
  display: none;

}*/



/*########## Bootstrap Grid ##################*/

/*   4 by 4   */
.col-md-3 {
  border: 5px solid lightgray;
  width: 200px;
  height: 180px;
  padding: 1px;
  margin: 5px;
  /*background-color: red;*/
  /* refactor background image attrs down to one line*/
  background-image: url("../eda_logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
}

.col-md-3 img {
  width: 150px;
}

