@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

* {
  border: 1px solid lightgray;
  margin: 0 auto;
}

body {
  // background-color: #F1F1F1;
  font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;
}
