@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

html {
  width: 100%;
}

* {
  border: 1px solid lightgray;
  margin: 0 auto;
}

body {
  background-color: #black;
  font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;
}

#container {
  /*height: 600px;*/
  width: 90%;
}

main {
  height: 500px
  }
}
