@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);

html {
  width: 100%;
  text-align: center;
}

* {
  /*border: 1px solid lightgray;*/
  margin: 0 auto;
}

body {
  background-color: #black;
  font-family: 'Raleway', 'Trebuchet MS', Helvetica, sans-serif;
}

#outer-container {
  border: 1px solid lightgray;
  width: 90%;
}

main {
  border: 1px solid lightgray;

  width:90%;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*########## Bootstrap Grid ##################*/

/*   4 by 4   */
.col-md-3 {
  border: 5px solid lightgray;
  width: 200px;
  height: 180px;
  padding: 1px;
  margin: 5px;
}

.col-md-3 img {
  width: 150px;
}


/*   2 x 2    */
/*.col-md-6 {
  border: 5px solid lightgray;
  width: 45%;
  height: 250px;
  padding: 5px;
}

.col-md-6 img {
  width: 200px;
}
*/

/*############ 2 by 2 Grid ######################*/

/*.grid-container{
    width: 100%;
    max-width: 800px;
}*/

/*-- our cleafix hack -- */
/*.row:before,
.row:after {
    content:"";
      display: table ;
    clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    width: 25%;*/
    /*-- our gutter -- */
 /*   padding: 12px;
    background-color: #fff;
}*/

/*.col-1{ width: 16.66%; }*/
/*.col-2{
  width: 40%;
  height: 350px;
  margin: 10px;
}*/
/*.col-3{ width: 50%;    }*/
/*.col-4{ width: 66.66%; }*/
/*.col-5{ width: 83.33%; }*/
/*.col-6{ width: 100%;   }*/

/*.outline, .outline *{
    outline: 1px solid #lightgray;
}*/

/*-- some extra column content styling --*/

/*[class*='col-'] > p {
 background-color: #FFC2C2;
>>>>>>> d8713d00bfa5cc41128151101f0798a1ecf01a11
 padding: 0;
 margin: 0;
 text-align: center;
 color: black;
}
*/





















